.full {
	display: flex;
	padding: 20px;
	background-color: white;
	height: max-content;
}
.full_title {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}
.fullproduct {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.fullproduct_info {
	padding-left: 20px;
	width: 65%;
}
.fullproduct_info > button {
	background-color: #f0c14b;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
}
.fullproduct_image {
	object-fit: contain;
	width: 45vw;
	height: 45vh;
}
.fullproduct_rating {
	border-bottom: 1px solid lightgray;
}
.fullproduct_title {
	font-size: 17px;
	font-weight: 800;
}
.fullproduct_price {
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}
.fullproduct_card {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	width: 35%;
	border: 1px solid lightgray;
	border-radius: 10px;
}
.full_check {
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.card_header {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid lightgray;
	height: 15%;
	background-color: rgb(234, 237, 237);
}
.full_waranty {
	color: #007185;
	font-weight: 550;
}
.card_title {
	margin-top: 20px;
}
.button_card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.button_card > button {
	width: 65%;
	height: 35px;
	margin-bottom: 15px;
	border-radius: 20px;
	font-weight: 500;
}
.add {
	background-color: rgb(255, 217, 0);
	border: 1px solid rgb(231, 197, 1);
	cursor: pointer;
}
.buy {
	background-color: #ff9d2d;
	border: 1px solid #ff8800;
	cursor: pointer;
}
.detail_container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.details > img {
	height: 45px;
	width: 45px;
}
.details > p {
	color: #007185;
	font-size: 14px;
}
