.home {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 2000px;
	/* border: 2px solid red; */
}
.home_container {
	height: 100vh;
	/* border: 2px solid yellow; */
}
.home_row {
	display: flex;
	z-index: 1;
	margin-left: 55px;
	/* margin-right: 5px; */
	flex-wrap: wrap;
}
.col-33 > .product {
	width: calc(29% - 45px);
}
.col-25 > .product {
	width: calc(22.5% - 38.05px);
}
.col-100 > .product {
	width: 95%;
}

.home_image {
	object-fit: cover;
	height: 79%;
	width: 100%;
	z-index: -1;
	margin-bottom: -280px;
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
@media only screen and (max-width: 932px) {
	.col-33 > .product {
		width: calc(40% - 45px);
	}
}
@media only screen and (max-width: 810px) {
	.col-25 > .product {
		width: calc(25% - 45px);
	}
}
@media only screen and (max-width: 650px) {
	.home {
		width: 119.5vw;
	}
}
@media only screen and (min-width: 450px) and (max-width: 545px) {
	.home {
		width: 116.5vw;
		/* margin-left: 2vw; */
	}
	.home_image {
		width: 106%;
	}
}
@media only screen and (max-width: 450px) {
	.home {
		width: 110.5vw;
	}
	.col-33 > .product {
		width: 100%;
	}
	.col-25 > .product {
		width: calc(37% - 20px);
	}
	.home_image {
		width: 118%;
	}
}
@media only screen and (max-width: 420px) {
	.home {
		width: 99.5vw;
	}
}
@media only screen and (max-width: 400px) {
	.home_image {
		width: 140%;
	}
	.col-25 > .product {
		width: 100%;
	}
}
